---
title: "Bibliography: verification"
---

* Can Programs Be Verified? Bibliography: <http://www.cse.buffalo.edu/~rapaport/584/canprogsbeverified.html>
* Timothy R. Colburn, James H. Fetzer, & Terry L. Rankin (eds.), Program Verification: Fundamental Issues in Computer Science (Dordrecht, Holland: Kluwer Academic Publishers, 1993)
